
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: $color-main;
  color: $color-text;
  user-select: none;
}

pre {
  max-width: 100%;
  overflow: auto;
  padding: $gutter;
}
