
$gutter: 10px;
$gutter-half: $gutter / 2;

$color-base: #fef3a1;
$color-text: #1f1f1f;

$color-link: #1543F9;
$color-link-hover: lighten( $color-link, 10% );
$color-link-active: darken( $color-link, 15% );

$color-titlebar: darken( $color-base, 15% );
$color-titlebar-title: transparent;
$color-titlebar-title-hover: darken( $color-titlebar, 15% );
$color-titlebar-title-active: darken( $color-titlebar, 20% );

$color-code-cursor: $color-text;
$color-code-selected: $color-titlebar;
$color-code-match: transparentize( $color-code-selected, .52 );
$color-code-dialog: $color-titlebar;

$color-code: $color-text;
$color-project: #268FE1;
$color-tag: #f97f26;
$color-todo-done:  #10C413;
$color-todo-cancel: #f92672;

$code-font-size: 13px;
$code-dialog-font-size: $code-font-size;
$code-dialog-height: 27px; //FIXME: Hacky

$shadow-animation-duration: .15s;
$shadow-color: #00000022;

$titlebar-height: 22px;
$titlebar-font-size: 12px;

$font-token-opacity: .25;
