
@font-face {
  font-family: "FiraCode";
  src: url("../../../resources/fonts/FiraCode-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.react-codemirror2 {

  height: 100%;
  padding: $gutter-half $gutter;
  box-sizing: border-box;

  .CodeMirror {

    background: transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1.25;
    font-size: $code-font-size;
    font-family: "FiraCode";
    color: $color-text;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;

    pre {
      padding: 0;
      z-index: 1;
      text-rendering: optimizeLegibility;
      font-variant-ligatures: contextual;
    }

    .CodeMirror-crosshair {
      cursor: text;
    }

    .CodeMirror-selected {
      background: $color-code-selected;
    }

    .CodeMirror-cursor {
      border-left: 1px solid $color-code-cursor;
    }

    .CodeMirror-lines {
      padding: 0;
    }

    .CodeMirror-line span {
      max-width: 100%;
      padding-right: 0;
    }

    .CodeMirror-dialog {

      display: flex;
      align-items: center;
      position: fixed;
      top: $titlebar-height;
      left: 0;
      right: 0;
      background: $color-code-dialog;
      padding: $gutter-half $gutter;
      border-bottom-width: 0;
      font-family: sans-serif;

      ~ .CodeMirror-scroll {
        padding-top: $code-dialog-height;
      }

    }

    .CodeMirror-search-label {
      white-space: nowrap;
      padding-right: $gutter;
    }

    .CodeMirror-search-field {
      width: 100% !important;
      font-size: $code-dialog-font-size;
      font-family: inherit;
    }

    .CodeMirror-search-hint {
      display: none;
    }

    .cm-searching {
      background: $color-code-match !important;
    }

  }

}
