
/* LAYOUT */

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: $color-base;
  color: $color-text;
}

#app {
  height: 100%;
}

#title {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $titlebar-height;
}

#content {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: $titlebar-height;
}
